<!DOCTYPE html>
<html>
  <head>
    <title>DemoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Demo Blog", root_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create New Post", new_post_path, class: "nav-link btn-outline-success" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid text-center" style="background-color: #e3f2fd;">
    <div class="container">
      <h3 class="display-4"><%= yield :page_title %></h3>
      <p class="lead"><% yield :sub_title %></p>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
